<a class="btn btn-success" href="https://libostock.netlify.app">View Project →</a>
<a class="btn btn-info float-right" href="https://github.com/LiboBearChen/stockchart">View Source on GitHub
    →</a>
<div style="text-align:center">
    <br>
    <br>
    <br>
    <h4><strong>Brief</strong></h4>
    <p>
        regrergregrgrgre
        ssadsadsadsadsadsadsadsadsa
        sadsadsa
    </p>
    <br>
    <br>
    <br>
    <h4><strong>Structure</strong></h4>
    <div class="hide1">dsvdavdvdvadc.</div>
    <div id="chartContainer1">
        <ul id="chart1">
            <li>components
                <ul>
                    <li>Analyse table</li>
                    <li>charts
                        <ul>
                            <li>analyse chart</li>
                            <li>predict chart</li>
                            <li>stock chart</li>
                        </ul>
                    </li>
                    <li>input
                        <ul>
                            <li>analyse picker</li>
                            <li>ranking picker</li>
                            <li>symbol picker</li>
                        </ul>
                    </li>
                    <li>fetch API</li>
                    <li>tools
                        <ul>
                            <li>data analyse tools</li>
                            <li>predict analyse tools</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>