<a class="btn btn-success" target="_blank" href="https://libostock.netlify.app">View Project →</a>
<a class="btn btn-info float-right" target="_blank" href="https://github.com/LiboBearChen/stockchart">View Source on
    GitHub
    →</a>
<div style="text-align:center">
    <br>
    <br>
    <br>
    <h4><strong>Brief</strong></h4>
    <div class="brief">
        <p>
            This ReactJS project fetches real-time data from a data vender's API and provides financial analysis
            information about the stock market.
        </p>
        <p>
            By choosing one of five stock symbols, the first chart will show the price, fluctuation or both in a given
            chart days for this chosen stock.
        </p>
        <p>
            The data for this stock will be analysed further. It will be sampled, ranked and predicted by a lot of
            complex javascript array operations (see the source code for this logic <a href="/contacts"><strong>here</strong></a>). The final result will be
            calculated and shown as four stock forecast lines in the second chart.
        </p>
        <p>
            Select each unique stock pair from five stocks, there are totally ten pairs. These pair are ranked by their
            correlations in a table. A correlation stands for the degree of correlation between each two stock prices
            (see the source code for this logic <a href="/contacts"><strong>here</strong></a>). For example, stock A rises 1% after one trading day while stock B
            rises 2%. Their correlation is the difference 1%. If stock B falls 2%, their correlation is the difference
            3%. So the first case is more relevant. The final correlations for each pair are listed as "Index" in the
            table. By choosing each pair, the correlation history will be shown in the last chart.
        </p>
    </div>

    <br>
    <br>
    <br>
    <h4><strong>Structure</strong></h4>
    <div id="chartContainer1">
        <ul id="chart1">
            <li>components
                <ul>
                    <li>Analyse table</li>
                    <li>charts
                        <ul>
                            <li>analyse chart</li>
                            <li>predict chart</li>
                            <li>stock chart</li>
                        </ul>
                    </li>
                    <li>input
                        <ul>
                            <li>analyse picker</li>
                            <li>ranking picker</li>
                            <li>symbol picker</li>
                        </ul>
                    </li>
                    <li>fetch API</li>
                    <li>tools
                        <ul>
                            <li>data analyse tools</li>
                            <li>predict analyse tools</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>