<a class="btn btn-success" href="https://liboblog.herokuapp.com/">View Project →</a>
<a class="btn btn-info float-right" href="https://github.com/LiboBearChen/flaskapp">View Source on GitHub
    →</a>
<div style="text-align:center">
    <br>
    <br>
    <br>
    <h4><strong>Brief</strong></h4>
    <p>
        """"""""444444444""""""""
    </p>
    <br>
    <br>
    <br>
    <h4><strong>Structure</strong></h4>
    <div id="chartContainer4">
        <ul id="chart4">
            <li>shop
                <ul>
                    <li>client
                        <ul>
                            <li>actions
                                <ul>
                                    <li>types</li>
                                    <li>user actions</li>
                                </ul>
                            </li>
                            <li>reducers
                                <ul>
                                    <li>user reducer</li>
                                </ul>
                            </li>
                            <li>components
                                <ul>
                                    <li>utils
                                        <ul>
                                            <li>file upload</li>
                                            <li>image slider</li>
                                            <li>paypal</li>
                                            <li>render cart image</li>
                                        </ul>
                                    </li>
                                    <li>views
                                        <ul>
                                            <li>about page</li>
                                            <li>cart page</li>
                                            <li>detail product page</li>
                                            <li>footer</li>
                                            <li>history page</li>
                                            <li>landing page</li>
                                            <li>login page</li>
                                            <li>navbar</li>
                                            <li>register page</li>
                                            <li>upload product page</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>server
                        <ul>
                            <li>models
                                <ul>
                                    <li>payment</li>
                                    <li>product</li>
                                    <li>user</li>
                                </ul>
                            </li>

                            <li>routes</li>
                            <li>product</li>
                            <li>users</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>