{% extends 'base.html' %}

{% block head %}
<title>Contacts</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/contacts.css')}}">
{% endblock %}


{% block body %}
<br>
<h1>Contacts</h1>
<br>
<hr>
<br>
<div id="backPic" style="text-align:center;">
    <p></p>
    <p><strong>Email: </strong><a href="herrlorenz312@gmail.com">herrlorenz312@gmail.com</a></p>
    <p><strong>Linkedin: </strong><a href="https://www.linkedin.com/in/libo-chen-96082a192">https://www.linkedin.com/in/libo-chen-96082a192</a></p>
    <p><strong>Github: </strong><a href="https://github.com/LiboBearChen">https://github.com/LiboBearChen</a></p>
</div>
{% endblock %}

{% block bodyScript %}
<script src="{{url_for('static',filename='js/contacts.js')}}"></script>
{% endblock %}