{% extends 'base.html' %}

{% block head %}
<title>Projects</title>
<script src="{{url_for('static',filename='js/projects.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/projects.css')}}">
{% endblock %}


{% block body %}
<br>
<h1>All Projects</h1>
<br>
<hr>
<br>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="tabs">
      <a class="nav-link active" data-toggle="pill" href="#content0" style="display: none;" id="tab0"></a>
      <a class="nav-link" data-toggle="pill" href="#content1" id="tab1">Stock market analysis website</a>
      <a class="nav-link" data-toggle="pill" href="#content2" id="tab2">Webpage analysis chrome extension</a>
      <a class="nav-link" data-toggle="pill" href="#content3" id="tab3">Digital product shopping website</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="contents">
      <div class="tab-pane" id="content0" style="text-align:center;">Please choose one project by clicking a tab from
        the left pane.</div>
      <div class="tab-pane" id="content1">
        {% block project1 %} {% endblock %}
      </div>
      <div class="tab-pane" id="content2">
        <a class="btn btn-success" href="#">View Project →</a>
        <a class="btn btn-info float-right" href="#">View Source on GitHub
          →</a>
      </div>
      <div class="tab-pane" id="content3">
        <a class="btn btn-success" href="#">View Project →</a>
        <a class="btn btn-info float-right" href="#">View Source on GitHub
          →</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}