{% extends 'base.html' %}

{% block head %}
<title>Projects</title>
<script src="{{url_for('static',filename='js/projects.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/projects.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-orgchart/1.0.0/jquery.orgchart.css"
  integrity="sha512-MkxwpMK+fg4ZkEZ/LhvriDh1e1Iq42gy09IEu2uyYIbVALpEh1L9GnlQ6Mb2h+8XcZvo2R5Rwd5MmkI3CUFKCQ=="
  crossorigin="anonymous" />
<style>
  div.orgChart div.node.level1 {
    background-color: #fbcece;
  }
  
  div.orgChart div.node.level2 {
    background-color: #cefbce;
  }

  div.orgChart div.node.level3 {
    background-color: #e0cefb;
  }
</style>
{% endblock %}


{% block body %}
<br>
<h1>All Projects</h1>
<br>
<hr>
<br>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="tabs">
      <a class="nav-link active" data-toggle="pill" href="#content0" style="display: none;" id="tab0"></a>
      <a class="nav-link" data-toggle="pill" href="#content1" id="tab1">Stock market analysis website</a>
      <a class="nav-link" data-toggle="pill" href="#content2" id="tab2">Webpage analysis chrome extension</a>
      <a class="nav-link" data-toggle="pill" href="#content3" id="tab3">Digital product shopping website</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="contents">
      <div class="tab-pane" id="content0" style="text-align:center;">Please choose one project by clicking a tab from
        the left pane.</div>
      <div class="tab-pane" id="content1">
        {% include 'projects/project1.html' %}
      </div>
      <div class="tab-pane" id="content2">
        {% include 'projects/project2.html' %}
      </div>
      <div class="tab-pane" id="content3">
        {% include 'projects/project3.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bodyScript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-orgchart/1.0.0/jquery.orgchart.min.js"
  integrity="sha512-kevYqUwQJ8zo36Zjbn+6+nIF/zLV4K5XYIhuxIrBx4RiRlpRUKi5tRp7Sjd47FPnIFYPVX9LbKBm6hZLF1fi1A=="
  crossorigin="anonymous"></script>
<script>
  $(function () {
    $('#chart1').orgChart({ container: $('#chartContainer1') });
    $('#chart2').orgChart({ container: $('#chartContainer2') });
    $('#chart3').orgChart({ container: $('#chartContainer3') });
  })
</script>
{% endblock %}