{% extends 'base.html' %}

{% block head %}
<title>Stacks</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/stacks.css')}}">
{% endblock %}

{% block body %}
<br>
<h1>Teck Stacks</h1>
<br>
<hr>
<br>
<div class="row">
    <div class="col-3">
        <div class="row">
            <label>
                <input type="radio" name="stack" value="1"> HTML
            </label>
        </div>
        <div class="row">
            <label>
                <input type="radio" name="stack" value="2"> Javascript
            </label>
        </div>
    </div>
    <div class="col-9">
        <div class="card my-4">
            <h2 class="card-header">Analysis</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled mb-0" id="functions">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <h2 class="card-header" id="fileName">Source Code Example(s)</h2>
            <div class="card-body">
                <div class="displayBox scroll-box" id="fetchContainer">
                    <h3 style="text-align:center;">Please choose one stack from the left radio buttons.</h3>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a id="urlLink" target="_blank"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyScript %}
<script src="../static/js/stacks.js"></script>
{% endblock %}
