{% extends 'base.html' %}

{% block head %}
<title>Stacks</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/stacks.css')}}">
{% endblock %}

{% block body %}
<br>
<h1>Teck Stacks</h1>
<br>
<hr>
<br>
<div class="row">
    <div class="col-3">
        <div class="row">
            <label>
                <input type="radio" name="stack" value="1" checked> HTML
            </label>
        </div>
        <div class="row">
            <label>
                <input type="radio" name="stack" value="2"> Javascript
            </label>
        </div>
    </div>
    <div class="col-9">
        <div class="card mb-4">
            <h2 class="card-header" id="fileName">Source Code</h2>
            <div class="card-body">
                <div class="displayBox scroll-box" id="fetchContainer">
                    <h3 style="text-align:center;">Fetching data from Github...</h3>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a href="https://getbootstrap.com" target="_blank">Check this file on Github</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyScript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/stacks.js"></script>
{% endblock %}
