<a class="btn btn-success" target="_blank" href="#">View Project →</a>
<a class="btn btn-info float-right" target="_blank" href="https://github.com/LiboBearChen/PageAnalyse">View Source on GitHub
    →</a>
<div style="text-align:center">
    <br>
    <br>
    <br>
    <h4><strong>Brief</strong></h4>
    <div class="brief">
        <p>
            This chrome extension is a small tool for online searching. Users can store some keywords from web pages, then the app that will generate a complex searching string based on these words (see the source code for this logic <a href="https://github.com/LiboBearChen/ChromeExtensions/blob/main/PageAnalyse/popup.js" target="_blank"><strong>here</strong></a>).
        </p>
        <p>
            This project has not been deployed yet, so visitors can only view the source code instead of the project website. And the option page for further functionalities is still under construction.
        </p>
    </div>
    <br>
    <br>
    <br>
    <h4><strong>Logic Structure</strong></h4>
    <div id="chartContainer2">
        <ul id="chart2">
            <li>chrome extension
                <ul>
                    <li>popup page</li>
                    <li>option page</li>
                </ul>
            </li>
        </ul>
    </div>

</div>
