<a
  class="btn btn-success"
  target="_blank"
  href="https://liboblog.herokuapp.com/"
  >View Project →</a
>
<a
  class="btn btn-info float-right"
  target="_blank"
  href="https://github.com/LiboBearChen/flaskapp"
  >View Source on GitHub →</a
>
<div style="text-align: center">
  <br />
  <br />
  <br />
  <h4><strong>Brief</strong></h4>
  <div class="brief">
    <p>
      This project is a blog written in Python Flask and can be divided into the
      following parts.
    </p>
    <p>
      In the tech stacks page, users can choose one of my stacks, then some
      source code exmples will be fetched from my Github account and shown in a
      box (see the source code for this logic
      <a
        href="https://github.com/LiboBearChen/FlaskApp/blob/main/blog/static/js/stacks.js"
        target="_blank"
        ><strong>here</strong></a
      >). Each stack may contains more than one example for users to choose.
    </p>
    <p>
      Users can post, edit, and delete a post in the posts page (see the source
      code for this logic
      <a
        href="https://github.com/LiboBearChen/FlaskApp/blob/main/blog/blueprints/page/routes.py"
        target="_blank"
        ><strong>here</strong></a
      >). The data is managed by SQLAlchemy and stored in a remote MySQL
      database server. The relationship between posts and tags is many to many
      so that users can filter posts by clicking a tag (see the source code for
      this logic
      <a
        href="https://github.com/LiboBearChen/FlaskApp/blob/main/blog/blueprints/post/models.py"
        target="_blank"
        ><strong>here</strong></a
      >).
    </p>
    <p>
      All my projects are shown in the projects page. Each projext has a
      description and a structure. Structures are visualized by a Javascript
      library.
    </p>
    <p>
      The user authentication module is still under development, so now any
      visitor can change the posts stored in the remote database server. Please
      feel free to test any functions like delete or edit in the posts page,
      because these posts have been backed up offline.
    </p>
  </div>
  <br />
  <br />
  <br />
  <h4><strong>Logic Structure</strong></h4>
  <div id="chartContainer4">
    <ul id="chart4">
      <li>
        blog
        <ul>
          <li>home page</li>
          <li>
            teck stacks page
            <ul>
              <li>fetch data</li>
            </ul>
          </li>
          <li>
            posts page
            <ul>
              <li>models</li>
              <li>CRUD</li>
            </ul>
          </li>
          <li>
            projects page
            <ul>
              <li>brief</li>
              <li>logic structure</li>
            </ul>
          </li>
          <li>about page</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
